body {
    background-color: var(--primary-bg);
    color: var(--primary-color);
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

.header {
    background-color: var(--secondary-bg);
    color: var(--secondary-color);
    padding: 10px 20px;
}

.header .logo-img {
    height: 40px;
}

.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item {
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
    transform: scale(1.05);
}

.session-activity {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
    --primary-bg: #1c1e21;
    --primary-color: #f4f4f4;
    --secondary-bg: #2b3f53;
    --secondary-color: #1abc9c;
}
